name: Export to PNG

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install inkscape
        
      - name: Run inkscape export
        run: inkscape --export-png ClassificaExport.png -w 1000 -h 1000 Susge.svg
