name: Export to PNG

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install inkscape
        
      - name: Creates artifact dir
        run: mkdir artifacts/
        
      - name: Run inkscape export
        run: |
         fc-cache -fv ./fonts
         inkscape -C --export-png artifacts/ClassificaExport.png -w 1000 -h 1000 Susge.svg

      - uses: actions/upload-artifact@v3
        with:
          name: Export
          path: artifacts/ClassificaExport.png
